[Unit]
Description=Router function
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/bin/main.py

[Install]
WantedBy=multi-user.target
