[Unit]
Description=Router function
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/pi_router_proj/main.py 

[Install]
WantedBy=multi-user.target
